{% extends 'AppBundle::template.html.twig' %}

{% block title %} Home - DWH CRM {% endblock %}

{% block body %}
<div class="row about">

    <div class="medium-12 columns">
        <h1>Home</h1>
    </div>
    <div class="medium-8 columns">
        <p>Home page, go do something!</p>



    </div>
    <div class="medium-4 columns">

    </div>
</div>


{% endblock %}
